<link href="__PUBLIC__/style/nav_job.css" type="text/css" rel="stylesheet" />
<div id="box">

<div id="left" class="fl"  style="margin-top:3px;">

<?php for($i=0;$i<count($count);$i++){?>
<div class="zhanshi">
<h4>
<span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>
<?php echo $count[$i];?>PHP就业班部分学员就业喜报
</h4>
<div><img alt="" src="http://www.itcast.cn/files/image/201404/20140409165602280.jpg" style="width: 628px; height: 266px;" /></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th bgcolor="#ecf6fd" width="10%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="25%">
		毕业学校</th>
	<th bgcolor="#ecf6fd" width="15%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="30%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="20%">
		薪资（￥）</th>
	</tr>
	<?php for($j=0;$j<count($info);$j++){?>
	<?php if($count[$i]==$info[$j]['job_time']){?>
	<tr>
	<td><?php echo $info[$j]['student_name'];?></td>
	<td><?php echo $info[$j]['student_school'];?></td>
	<td><?php echo $info[$j]['job_time'];?></td>
	<td><?php echo $info[$j]['job_company'];?></td>
	<td class="STYLE6">起薪<?php echo $info[$j]['job_money'];?></td>
	</tr>
	<?php }}?>
</tbody>
</table>
<?php }?>

</div>		
<div id="right" class="fl">	
<h4 class="righttitle1" style="margin-top:10px;"><span class="fl">PHP培训开班信息</span></h4>
<div class="jyjb-left" >
<ul>
<li style="border-bottom: medium none; float: left; color: #515151">

<a href="http://php.itcast.cn/php/course/base.shtml"><b><font style="color: #515151">PHP基础班</font></b></a></li>
<br />
</ul>
<ul style="clear: both">
<li><a href="http://php.itcast.cn/php/course/base.shtml" target="_blank"><span class="time jyjb-font2"><b>预约报名</b></span>北京--第34期(2015年01月10号)</a></li>
<li><a href="http://php.itcast.cn/php/course/base.shtml" target="_blank"><span class="time jyjb-font1"><b>爆满已开班</b></span>北京--第33期(2014年11月27号)</a></li>
<li><a href="http://php.itcast.cn/php/course/base.shtml" target="_blank"><span class="time jyjb-font2"><b>预约报名</b></span>广州--第08期(2014年12月25号)</a></li>
</ul>
<ul>
<li style="border-bottom: medium none; float: left; color: #515151"><a href="http://php.itcast.cn/php/course/php.shtml"><b><font style="color: #515151">PHP就业班</font></b></a></li>
<br />
</ul>
<ul style="clear: both">
<li><a href="http://php.itcast.cn/php/course/php.shtml" target="_blank"><span class="time jyjb-font2"><b>预约报名</b></span>北京--第34期(2015年01月05号)</a></li>
<li><a href="http://php.itcast.cn/php/course/php.shtml" target="_blank"><span class="time jyjb-font1"><b>爆满已开班</b></span>北京--第33期(2014年11月21号)</a></li>
<li><a href="http://php.itcast.cn/php/course/php.shtml" target="_blank"><span class="time jyjb-font2"><b>预约报名</b></span>广州--第07期(2014年12月18号)</a></li>
</ul>
<ul>
<li style="border-bottom: medium none; float: left; color: #515151"><a href="http://php.itcast.cn/news/981030b0/96d5/4005/9ae4/eba8bac4195a.shtml"><b><font style="color: #515151">PHP远程班</font></b></a></li>
<br />
</ul>
<ul style="clear: both">
<li><a href="http://php.itcast.cn/news/981030b0/96d5/4005/9ae4/eba8bac4195a.shtml" target="_blank"><span class="time jyjb-font2"><b>预约报名</b></span>基础班--第34期(2015年01月10号)</a></li>
<li><a href="http://php.itcast.cn/news/981030b0/96d5/4005/9ae4/eba8bac4195a.shtml" target="_blank"><span class="time jyjb-font1"><b>爆满已开班</b></span>基础班--第33期(2014年11月27号)</a></li>
<li><a href="http://php.itcast.cn/news/981030b0/96d5/4005/9ae4/eba8bac4195a.shtml" target="_blank"><span class="time jyjb-font2"><b>预约报名</b></span>就业班--第34期(2015年01月05号)</a></li>
<li><a href="http://php.itcast.cn/news/981030b0/96d5/4005/9ae4/eba8bac4195a.shtml" target="_blank"><span class="time jyjb-font1"><b>爆满已开班</b></span>就业班--第33期(2014年11月21号)</a></li>
</ul>

</div>
<div class="rightbottom"><img src="__PUBLIC__/images/rightbottom.jpg"  /></div>		
<h4 class="righttitle1 zhaopin"><span class="blue">最新</span>企业招聘</h4>
<div class="rightkuang1">
<p class="cent"> <img src="__PUBLIC__/images/select.jpg"  width="256" height="66" /></p>
<table border="0" cellpadding="0" cellspacing="0" class="zhaopinlist" height="124" style="margin-top: 5px" width="98%">
<tbody>
<tr>
<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16233788127.shtml" target="_blank">上海北岸信息生物谷招聘</a></td>
<td width="11%">若干</td>
<td width="16%">11.28</td>
</tr>
<tr>
<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16302725269.shtml" target="_blank">TCL数码科技有限公司招聘</a></td>
<td width="11%">若干</td>
<td width="16%">11.28</td>
</tr>
<tr>
<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16292068856.shtml" target="_blank">博雅软件集团有限公司招聘</a></td>
<td width="11%">若干</td>
<td width="16%">11.28</td>
</tr>
<tr>
<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16242833345.shtml" target="_blank">北京南天信息有限公司招聘</a></td>
<td width="11%">若干</td>
<td width="16%">11.28</td>
</tr>
<tr>
<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16223017278.shtml" target="_blank">北京十方元基科技公司招聘</a></td>
<td width="11%">若干</td>
<td width="16%">11.28</td>
</tr>
<tr>
<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16213222025.shtml" target="_blank">北京天舟通信有限公司招聘</a></td>
<td width="11%">若干</td>
<td width="16%">11.28</td>
</tr>
<tr></tr>
<tr>
<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16183668306.shtml" target="_blank">北京新玛互动传媒公司招聘</a></td>
<td width="11%">若干</td>
<td width="16%">11.28</td>
</tr>
<tr></tr>
<tr>
<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/1617416903.shtml" target="_blank">北京缔凡思信息技术公司招聘</a></td>
<td width="11%">若干</td>
<td width="16%">11.21</td>
</tr>
<tr>
<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16165624603.shtml" target="_blank">北京韩购街贸易有限公司招聘</a></td>
<td width="11%">若干</td>
<td width="16%">11.21</td>
</tr>
<tr>
<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16155357521.shtml" target="_blank">北京花生米数字科技公司招聘</a></td>
<td width="11%">若干</td>
<td width="16%">11.21</td>
</tr>
<tr>
<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16145632220.shtml" target="_blank">集慧智佳知识产权管理招聘</a></td>
<td width="11%">若干</td>
<td width="16%">11.21</td>
</tr>
<tr>
<td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16135856735.shtml" target="_blank">北京金万维科技有限公司招聘</a></td>
<td width="11%">若干</td>
<td width="16%">11.21</td>
</tr>
<tr>
<td class="td1" width="73%"><a href="http://www.itcast.cn/news/list/20c133c0-6635-421c-acae-6125b0702b34/1.shtml" target="_blank"><span style="color:#ff0000;">更多企业招聘信息请点击&hellip;&hellip;</span></a></td>
<td width="11%"><a href="http://www.itcast.cn/news/list/20c133c0-6635-421c-acae-6125b0702b34/1.shtml" target="_blank"><span style="color:#ff0000;">查看</span></a></td>
<td width="16%"><a href="http://www.itcast.cn/news/list/20c133c0-6635-421c-acae-6125b0702b34/1.shtml" target="_blank"><span style="color:#ff0000;">更多</span></a></td>
</tr>
<tr></tr>
</tbody>
</table>

<div class="clear"></div>

</div>
<div class="rightbottom"><img src="__PUBLIC__/images/bottom1.gif"  /></div>
<h4 class="righttitle1 zhaopin" style="margin-top:3px;"><span class="blue">常见</span>问题</h4>
<div class="rightkuang1" style="padding-top:18px;">
<ul class="zhaopinlist wenti">
<ul class="zhaopinlist wenti">
<li><a href="http://php.itcast.cn/news/20130723/11245447222.shtml" target="_blank">贵校php教学与**学校相比有哪些特色</a>
<img height="15" src="__PUBLIC__/images/new.gif" width="29" /></li>
<li><a href="/news/6c691c56/0dae/41ff/996a/2d110a612490.shtml" target="_blank">你们的PHP培训为什么那么便宜？</a>
<img height="15" src="__PUBLIC__/images/new.gif" width="29" /></li>
<li><a href="/news/28bc21c1/10ef/4bcb/ad34/c0b70fc9ab8a.shtml" target="_blank">你们入学需要什么样的基础</a>
<img height="15" src="__PUBLIC__/images/new.gif" width="29" /></li>
<li><a href="/news/13099012/ae09/4d3b/ad0e/b945b114ae9c.shtml" target="_blank">你们的师资力量是什么样子的？</a>
<img height="15" src="__PUBLIC__/images/new.gif" width="29" /></li>
<li><a href="/news/5b2001e2/b84e/4b60/b9a2/fb3ca2def9f7.shtml" target="_blank">你们的课程内容质量是怎么样的？</a></li>
<li><a href="/news/28486a2e/2e20/4536/9dee/23b8b0964d3a.shtml" target="_blank">你们PHP的学习模式是什么样的？</a></li>
<li><a href="/news/38f18d98/e496/4c46/9561/5c14558c4394.shtml" target="_blank">你们PHP培训的费用这么低，不怕别人说&quot;便宜没好货&quot;吗？签协议工作有保障吗？</a></li>
<li><a href="/news/ec9cdb54/95e8/4d2a/862b/0e7213e7f254.shtml" target="_blank">你们的PHP培训质量有保证吗？</a></li>
<li><a href="/news/23700cbd/742d/46ab/b40a/921b780819e0.shtml" target="_blank">你们的课程安排，是怎么样的？</a></li>
<li><a href="/news/bae6d679/af68/4f9b/a015/bb94d3e517b6.shtml" target="_blank">你们有没有阳光扶持政策，可以后交学费?</a></li>
<!--<li><a href="http://php.itcast.cn/news/20130409/11325021761.shtml" target="_blank">学完PHP之后可以做什么？</a></li>-->
<li><a href="http://php.itcast.cn/news/20130409/11334990300.shtml" target="_blank">前端的东西能学多少，有哪些？</a></li>
<li><a href="http://php.itcast.cn/news/20130409/14473489532.shtml" target="_blank">PHP学完就业时都能出哪些类型的网站？</a></li>
<li><a href="http://php.itcast.cn/news/20130409/14524497859.shtml" target="_blank">官网上为什么公布那么少PHP的招生公司？</a></li>
<li><a href="http://php.itcast.cn/news/20130409/14543187053.shtml" target="_blank">用PHP做出来的比较有名气的网站或者作品？</a></li>
<!--<li><a href="http://php.itcast.cn/news/20130409/14565887024.shtml" target="_blank">怎么在短时间内充分掌握老师讲解的知识？</a></li>
<li><a href="http://php.itcast.cn/news/20130409/14580258105.shtml" target="_blank">基础班学完以后可以做什么?</a></li>
<li><a href="http://php.itcast.cn/news/20130409/15025732993.shtml" target="_blank">PHP入门简单是不是后期学习难？</a></li>
<li><a href="http://php.itcast.cn/news/20130723/1156494103.shtml" target="_blank">传智播客PHP培训远程班学费与课程安排？</a></li>
<li><a href="http://php.itcast.cn/news/20130409/15001772469.shtml" target="_blank">学php需要具备哪些条件？</a></li>--></ul>

</ul> 
<div class="clear"></div>
	 <p class="text-r"><a href="/php/question.shtml">
			 <img src="__PUBLIC__/images/jiantoumore.gif"  border="0" /></a></p>
</div>
<div class="rightbottom"><img src="__PUBLIC__/images/bottom1.gif"  /></div>

<h4 class="righttitle1 lianxi"><span class="fl"><span class="blue">课程</span>咨询</span></h4>

<div class="rightkuang">
<dl>
<dt style="padding-bottom:20px;">
北京传智播客</dt>
<dd style="width:120px;height:40px;float:left;">
<a href="http://cnrdn.com/iP66" target="_blank"><img alt="北京传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqmfst.jpg" width="99" /></a></dd>
<dd style="width:120px;height:40px;float:left;">
<a href="http://cnrdn.com/iP66" target="_blank"><img alt="北京传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqkczx.jpg" width="99" /></a></dd>
</dl>
<dl class="qqtwo">
<dt style="padding-bottom:20px;">
广州传智播客</dt>
<dd style=" width:120px;height:40px;float:left;">
<a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzgwMDA2ODg2OF8yMDczMV84MDAwNjg4NjhfMl8" target="_blank"><img alt="广州传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqmfst.jpg" width="99" /></a></dd>
<dd style=" width:120px;height:40px;float:left;">
<a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzgwMDA2ODg2OF8yMDczMV84MDAwNjg4NjhfMl8" target="_blank"><img alt="广州传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqkczx.jpg" width="99" /></a></dd>
</dl>
<dl class="qqthree">
<dt style="padding-bottom:20px;">
上海传智播客</dt>
<dd style="width:120px;height:40px;float:left;">
<a href="http://cnrdn.com/djUD" target="_blank"><img alt="上海传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqmfst.jpg" width="99" /></a></dd>
<dd style="width:120px;height:40px;float:left;">
<a href="http://cnrdn.com/djUD" target="_blank"><img alt="上海传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqkczx.jpg" width="99" /></a></dd>
</dl>
<dl class="qqfour">
<dt style="padding-bottom:20px;">
武汉传智播客</dt>
<dd style="width:120px;height:40px;float:left;">
<a href="http://cnrdn.com/P4EE" target="_blank"><img alt="武汉传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqmfst.jpg" width="99" /></a></dd>
<dd style="width:120px;height:40px;float:left;">
<a href="http://cnrdn.com/P4EE" target="_blank"><img alt="武汉传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqkczx.jpg" width="99" /></a></dd>
</dl>
<dl class="qqfive">
<dt style="padding-bottom:20px;">
郑州传智播客</dt>
<dd style="width:120px;height:40px;float:left;">
<a href="http://cnrdn.com/0LVE" target="_blank"><img alt="武汉传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqmfst.jpg" width="99" /></a></dd>
<dd style="width:120px;height:40px;float:left;">
<a href="http://cnrdn.com/0LVE" target="_blank"><img alt="武汉传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqkczx.jpg" width="99" /></a></dd>
</dl>
<dl class="qqsix">
<dt style="padding-bottom:20px;">
西安传智播客</dt>
<dd style="width:120px;height:40px;float:left;">
<a href="http://cnrdn.com/iP66" target="_blank"><img alt="西安传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqmfst.jpg" width="99" /></a></dd>
<dd style="width:120px;height:40px;float:left;">
<a href="http://cnrdn.com/iP66" target="_blank"><img alt="西安传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqkczx.jpg" width="99" /></a></dd>
</dl>
<!--<dl class="qqsev">
<dt style="padding-bottom:20px;">
西安传智播客</dt>
<dd style="width:120px;height:40px;float:left;">
<a href="http://cnrdn.com/iP66" target="_blank"><img alt="西安传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqmfst.jpg" width="99" /></a></dd>
<dd style="width:120px;height:40px;float:left;">
<a href="http://cnrdn.com/iP66" target="_blank"><img alt="西安传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqkczx.jpg" width="99" /></a></dd>
</dl>-->
<div class="clear"></div>
</div>
<div class="rightbottom"><img src="__PUBLIC__/images/rightbottom.jpg"  /></div>
</div>
</div>		
<div class="clear"></div>

<!-- 友情链接 -->
<div class="content">
<div class="friendlink_con">
<div class="friendlink">
<div class="friendlink_style01"><img width="37" height="87" src="__PUBLIC__/images/youqin.jpg"></div>
<div class="friendlink_style03">
<ul>
<li><a href="http://www.sietoo.com" target="_blank">深圳网站建设</a></li>
<li><a href="http://www.ibeifeng.com" target="_blank">北风网</a></li>
<li><a href="http://www.wangxiaowang.com/" target="_blank">网络教育</a></li>
<li><a href="http://bbs.17liuxue.com" target="_blank">澳洲留学DIY</a></li>
<li><a href="http://qd.jiajiao400.com" target="_blank">青岛家教网</a></li>
<li><a href="http://www.028jq.com" target="_blank">英国留学</a></li>
<li><a href="http://www.shisu-edu.com/" target="_blank">上外留学预科</a></li>
<li><a href="http://lyg.ygjj.com/" target="_blank">连云港家教</a></li>
<li><a href="http://www.wen5u.com" target="_blank">论文格式</a></li>
<li><a href="http://edu.tianhenet.com.cn" target="_blank">CFO培训</a></li>
<li><a href="http://baike.zidiantong.com" target="_blank">百科知识</a></li>
<li><a href="http://www.xjc100.com" target="_blank">宁波电脑培训</a></li>
<li><a href="http://jl.htexam.com" target="_blank">吉林省公务员考试网</a></li>
<li><a href="http://bbs.xunkoo.com" target="_blank">大学生网</a></li>
<li><a href="http://www.0755zixuekaoshi.com" target="_blank">深圳自学考试网</a></li>
<li><a href="http://www.youzhikew.com" target="_blank">优质课网</a></li>
<li><a href="http://www.youkao.com" target="_blank">优考网</a></li>
<li><a href="http://www.fshuayue.com/" target="_blank">成人高考网</a></li>
<li><a href="http://sz.gaofen.com" target="_blank">深圳教育网</a></li>
<li><a href="http://cjcx.xygmed.com" target="_blank">执业医师成绩查询</a></li>
<li><a href="http://zs.k8008.com" target="_blank">科技招商</a></li>
<li><a href="http://www.jsnxs.com" target="_blank">江苏信用社招聘考试</a></li>
<li><a href="http://www.peixunhu.com" target="_blank">武汉培训网</a></li>
<li><a href="http://net.thea.cn" target="_blank">在线课程</a></li>
<li><a href="http://zz.jiajiao400.com/" target="_blank">郑州家教</a></li>
<li><a href="http://keji.3158.cn " target="_blank">网络教育</a></li>
<li><a href="http://aia.lixinedu.com.cn" target="_blank">AIA培训</a></li>
</ul>

</div>
</div>
</div>
</div>
<!-- 友情链接 -->