<div id="box">
                        <div id="left" class="fl"  style="margin-top:3px;">

                        <div><img src="__PUBLIC__/images/lefttop.gif"  /></div>
                        <div class="jyjb">


                         <div class="clear"></div>
<?php for($i=0;$i<count($count);$i++){?>
<div class="zhanshi">
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span><?php echo $count[$i];?>PHP就业班部分学员就业喜报</h4>
<div><img alt="" src="http://www.itcast.cn/files/image/201408/20140811153535947.jpg" style="width: 628px; height: 266px;" /></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
        <tr>
        <th bgcolor="#ecf6fd" width="10%">
                姓名</th>
        <th bgcolor="#ecf6fd" width="25%">
                毕业学校</th>
        <th bgcolor="#ecf6fd" width="15%">
                入职时间</th>
        <th bgcolor="#ecf6fd" width="30%">
                入职公司</th>
        <th bgcolor="#ecf6fd" class="STYLE6" width="20%">
                薪资（￥）</th>
        </tr>
		<?php for($j=0;$j<count($info);$j++){?>
		<?php if($count[$i]==$info[$j]['job_time']){?>
		<tr>
		<td><?php echo $info[$j]['student_name'];?></td>
		<td><?php echo $info[$j]['student_school'];?></td>
		<td><?php echo $info[$j]['job_time'];?></td>
		<td><?php echo $info[$j]['job_company'];?></td>
		<td class="STYLE6">起薪<?php echo $info[$j]['job_money'];?></td>
		</tr>
		<?php }}?>

</tbody>
</table>
<?php }?>


<br />
<br />

                           </div>
                        <div><img src="__PUBLIC__/images/leftbottom.gif"  /></div>

                </div>		
                <div id="right" class="fl">			
                        <h4 class="righttitle1 zhaopin"><span class="blue">最新</span>企业招聘</h4>
                        <div class="rightkuang1">
                        <p class="cent"> <img src="__PUBLIC__/images/select.jpg"  width="256" height="66" /></p>
                  <table border="0" cellpadding="0" cellspacing="0" class="zhaopinlist" height="124" style="margin-top: 5px" width="98%">
<tbody>
        <tr>
        <td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141208/14061592998.shtml" target="_blank">北京大众在线网络公司招聘</a></td>
        <td width="11%">若干</td>
        <td width="16%">12.05</td>
        </tr>
        <tr>
        <td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141208/14050476464.shtml" target="_blank">广州海闻软件技术公司招聘</a></td>
        <td width="11%">若干</td>
        <td width="16%">12.05</td>
        </tr>
        <tr>
        <td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141208/14035970948.shtml" target="_blank">北京汇智大有科技公司招聘</a></td>
        <td width="11%">若干</td>
        <td width="16%">12.05</td>
        </tr>
        <tr>
        <td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141208/14000714489.shtml" target="_blank">北京极客思维网络公司招聘</a></td>
        <td width="11%">若干</td>
        <td width="16%">12.05</td>
        </tr>
        <tr>
        <td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141208/13575434638.shtml" target="_blank">蓝思科技北京有限公司招聘</a></td>
        <td width="11%">若干</td>
        <td width="16%">12.05</td>
        </tr>
        <tr>
        <td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141208/13562038006.shtml" target="_blank">北京理正软件股份公司招聘</a></td>
        <td width="11%">若干</td>
        <td width="16%">12.05</td>
        </tr>
        <tr>
        <td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141208/1355257534.shtml" target="_blank">北京神威远通科技公司招聘</a></td>
        <td width="11%">若干</td>
        <td width="16%">12.05</td>
        </tr>
        <tr>
        <td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141208/13533327706.shtml" target="_blank">北京易龙天网科技公司招聘</a></td>
        <td width="11%">若干</td>
        <td width="16%">12.05</td>
        </tr>
        <tr>
        <td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141208/13520812818.shtml" target="_blank">易智瑞信息技术公司招聘</a></td>
        <td width="11%">若干</td>
        <td width="16%">12.05</td>
        </tr>
        <tr></tr>
        <tr>
        <td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141208/13503030595.shtml" target="_blank">中公高科养护科技公司招聘</a></td>
        <td width="11%">若干</td>
        <td width="16%">12.05</td>
        </tr>
        <tr>
        <td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16233788127.shtml" target="_blank">上海北岸信息生物谷招聘</a></td>
        <td width="11%">若干</td>
        <td width="16%">11.28</td>
        </tr>
        <tr>
        <td class="td1" width="73%"><a href="http://www.itcast.cn/news/20141201/16302725269.shtml" target="_blank">TCL数码科技有限公司招聘</a></td>
        <td width="11%">若干</td>
        <td width="16%">11.28</td>
        </tr>
        <tr>
        <td class="td1" width="73%"><a href="http://www.itcast.cn/news/list/20c133c0-6635-421c-acae-6125b0702b34/1.shtml" target="_blank"><span style="color:#ff0000;">更多企业招聘信息请点击&hellip;&hellip;</span></a></td>
        <td width="11%"><a href="http://www.itcast.cn/news/list/20c133c0-6635-421c-acae-6125b0702b34/1.shtml" target="_blank"><span style="color:#ff0000;">查看</span></a></td>
        <td width="16%"><a href="http://www.itcast.cn/news/list/20c133c0-6635-421c-acae-6125b0702b34/1.shtml" target="_blank"><span style="color:#ff0000;">更多</span></a></td>
        </tr>
</tbody>
</table>

 <div class="clear"></div>
                        </div>
                        <div class="rightbottom"><img src="__PUBLIC__/images/bottom1.gif"/></div>
                        <h4 class="righttitle1" style="margin-top:5px;"><span class="fl">PHP培训开班信息</span></h4>

                      <div class="jyjb-left" >
      <volist name="data1" id="vo">
<ul>
    <!--
<li style="border-bottom: medium none; float: left; color: #515151">

<a href="http://php.itcast.cn/php/course/base.shtml"><b><font style="color: #515151">PHP基础班</font></b></a></li>
<br />
    -->
  
        <li style="border-bottom: medium none; float: left; color: #515151">

        <a href="http://php.itcast.cn/php/course/base.shtml"><b><font style="color: #515151">{$vo.class_name}</font></b></a></li></br>
    
</ul>
          <ul style="clear: both">
<li><a  target="_blank"><span class="time jyjb-font2"><b>预约报名</b></span>北京--第34期(2015年01月10号)</a></li>
<li><a  target="_blank"><span class="time jyjb-font1"><b>爆满已开班</b></span>北京--第33期(2014年11月27号)</a></li>
<li><a  target="_blank"><span class="time jyjb-font2"><b>预约报名</b></span>广州--第08期(2014年12月25号)</a></li>
</ul>
          </volist>



</div>
                        <div class="rightbottom"><img src="__PUBLIC__/images/rightbottom.jpg"/></div>
                        <h4 class="righttitle1 lianxi"><span class="fl"><span class="blue">课程</span>咨询</span></h4>
                        <div class="rightkuang">
                <dl>
        <dt style="padding-bottom:20px;">
                北京传智播客</dt>
        <dd style="width:120px;height:40px;float:left;">
                <a href="http://cnrdn.com/iP66" target="_blank"><img alt="北京传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqmfst.jpg" width="99" /></a></dd>
        <dd style="width:120px;height:40px;float:left;">
                <a href="http://cnrdn.com/iP66" target="_blank"><img alt="北京传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqkczx.jpg" width="99" /></a></dd>
</dl>
<dl class="qqtwo">
        <dt style="padding-bottom:20px;">
                广州传智播客</dt>
        <dd style=" width:120px;height:40px;float:left;">
                <a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzgwMDA2ODg2OF8yMDczMV84MDAwNjg4NjhfMl8" target="_blank"><img alt="广州传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqmfst.jpg" width="99" /></a></dd>
        <dd style=" width:120px;height:40px;float:left;">
                <a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzgwMDA2ODg2OF8yMDczMV84MDAwNjg4NjhfMl8" target="_blank"><img alt="广州传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqkczx.jpg" width="99" /></a></dd>
</dl>
<dl class="qqthree">
        <dt style="padding-bottom:20px;">
                上海传智播客</dt>
        <dd style="width:120px;height:40px;float:left;">
                <a href="http://cnrdn.com/djUD" target="_blank"><img alt="上海传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqmfst.jpg" width="99" /></a></dd>
        <dd style="width:120px;height:40px;float:left;">
                <a href="http://cnrdn.com/djUD" target="_blank"><img alt="上海传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqkczx.jpg" width="99" /></a></dd>
</dl>
<dl class="qqfour">
        <dt style="padding-bottom:20px;">
                武汉传智播客</dt>
        <dd style="width:120px;height:40px;float:left;">
                <a href="http://cnrdn.com/P4EE" target="_blank"><img alt="武汉传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqmfst.jpg" width="99" /></a></dd>
        <dd style="width:120px;height:40px;float:left;">
                <a href="http://cnrdn.com/P4EE" target="_blank"><img alt="武汉传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqkczx.jpg" width="99" /></a></dd>
</dl>
<dl class="qqfive">
        <dt style="padding-bottom:20px;">
                郑州传智播客</dt>
        <dd style="width:120px;height:40px;float:left;">
                <a href="http://cnrdn.com/0LVE" target="_blank"><img alt="武汉传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqmfst.jpg" width="99" /></a></dd>
        <dd style="width:120px;height:40px;float:left;">
                <a href="http://cnrdn.com/0LVE" target="_blank"><img alt="武汉传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqkczx.jpg" width="99" /></a></dd>
</dl>
<dl class="qqsix">
        <dt style="padding-bottom:20px;">
                西安传智播客</dt>
        <dd style="width:120px;height:40px;float:left;">
                <a href="http://cnrdn.com/iP66" target="_blank"><img alt="西安传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqmfst.jpg" width="99" /></a></dd>
        <dd style="width:120px;height:40px;float:left;">
                <a href="http://cnrdn.com/iP66" target="_blank"><img alt="西安传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqkczx.jpg" width="99" /></a></dd>
</dl>
<!--<dl class="qqsev">
        <dt style="padding-bottom:20px;">
                西安传智播客</dt>
        <dd style="width:120px;height:40px;float:left;">
                <a href="http://cnrdn.com/iP66" target="_blank"><img alt="西安传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqmfst.jpg" width="99" /></a></dd>
        <dd style="width:120px;height:40px;float:left;">
                <a href="http://cnrdn.com/iP66" target="_blank"><img alt="西安传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqkczx.jpg" width="99" /></a></dd>
</dl>-->
                        <div class="clear"></div>		
                        </div>
                        <div class="rightbottom"><img src="__PUBLIC__/images/rightbottom.jpg"/></div>
          </div>
        </div>		
        <div class="clear"></div>