<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>后盾网HDPHP博客后台管理首页</title>
	<link rel="stylesheet" href="__PUBLIC__/css/admin.css" />
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/admin.js"></script>
<!-- 默认打开目标 -->
<base target="iframe"/>
</head>
<body>
<!-- 头部 -->
	<div id="top_box">
		<div id="top">
			<p id="top_font">HDPHP博客后台管理首页 （V1.1）</p>
		</div>
		<div class="top_bar">
			<p class="adm">
				<span>管理员：</span>
				<span class="adm_pic">&nbsp&nbsp&nbsp&nbsp</span>
				<span class="adm_people">[houdunwang]</span>
			</p>
			<p class="now_time">
				今天是：2013.7.13 
				您的当前位置是：
				<span>首页</span>
			</p>
			<p class="out">
				<span class="out_bg">&nbsp&nbsp&nbsp&nbsp</span>&nbsp
				<a href="" target="_self">退出</a>
			</p>
		</div>
	</div>
<!-- 左侧菜单 -->
		<div id="left_box">
			<p class="use">常用菜单</p>
			<div class="menu_box">
				<h2>前台首页</h2>
				<div class="text">
					<ul class="con">
				        <li class="nav_u">
				        	<a href="" class="pos">前台首页</a>				       	
				        </li> 
				    </ul>
				
				</div>
			</div>
			<div class="menu_box">
				<h2>班级分类</h2>
				<div class="text">
					<ul class="con">
				        <li class="nav_u">
				        	<a href="__URL__/class_add" class="pos">添加班级</a>				        	
				        </li> 
				    </ul>  

				    <ul class="con">
				        <li class="nav_u">
				        	<a href="__URL__/class_list" class="pos">班级列表</a>    	
				        </li> 
				    </ul>   
				</div>
			</div>

			<div class="menu_box">
				<h2>阶段分类</h2>
				<div class="text">
					<ul class="con">
				        <li class="nav_u">
				        	<a href="__URL__/stage_add" class="pos">添加阶段</a>				        	
				        </li> 
				    </ul>  

				    <ul class="con">
				        <li class="nav_u">
				        	<a href="__URL__/stage_list" class="pos">阶段列表</a>    	
				        </li> 
				    </ul>   
				</div>
			</div>


			 <div class="menu_box">
				<h2>教学视频管理</h2>
				<div class="text">
					<ul class="con">
				        <li class="nav_u">
				        	<a href="__URL__/video_add" class="pos">上传视频</a>				        	
				        </li> 
				    </ul>  
					<ul class="con">
				        <li class="nav_u">
				        	<a href="__URL__/video_list" class="pos">视频列表</a>				        	
				        </li> 
				    </ul> 

				</div>
			</div>

			<div class="menu_box">
				<h2>师资管理</h2>
				<div class="text">
					<ul class="con">
				        <li class="nav_u">
				        	<a href="__URL__/Position_add" class="pos">职务添加</a>				        	
				        </li> 
				    </ul>
					 <ul class="con">
				        <li class="nav_u">
				        	<a href="__URL__/Position_list" class="pos">列表列表</a>    	
				        </li> 
				    </ul>   
					<ul class="con">
				        <li class="nav_u">
				        	<a href="__URL__/teacher_list" class="pos">教师添加</a>				        	
				        </li> 
				    </ul>
					 <ul class="con">
				        <li class="nav_u">
				        	<a href="__URL__/teacher_list" class="pos">教师列表</a>    	
				        </li> 
				    </ul>
				</div>
			</div>
			
		<div class="menu_box">
				<h2>就业信息</h2>
				<div class="text">
					<ul class="con">
				        <li class="nav_u">
				        	<a href="__URL__/stage_add" class="pos">添加就业信息</a>				        	
				        </li> 
				    </ul>  

				    <ul class="con">
				        <li class="nav_u">
				        	<a href="__URL__/stage_list" class="pos">就业信息列表</a>    	
				        </li> 
				    </ul>   
				</div>
			</div>	
			</div>			
		</div>
		<!-- 右侧 -->
		<div id="right">
			<iframe  frameboder="0" border="0" 	scrolling="yes" name="iframe" src=""></iframe>
		</div>
	<!-- 底部 -->
	<div id="foot_box">
		<div class="foot">
			<p>我们在这   技术论坛</p>
		</div>
	</div>

</body>
</html>
<!--[if IE 6]>
    <script type="text/javascript" src="./js/iepng.js"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('.adm_pic, #left_box .pos, .span_server, .span_people', 'background');
    </script>
<![endif]-->
