<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<link rel="stylesheet" href="__PUBLIC__/css/public.css" />
	<title></title>
</head>
<body>
	<form action="/admin/School/up_stage_pro" method="post">
		<table class="table">
			<tr >
				<td class="th" colspan="2">添加阶段</td>
			</tr>
			<tr>
				<td>阶段名称</td>
				<td><input type="text" name="class_leve_name" value="{$list.class_leve_name}"/></td>
			</tr>
			<tr>
				<td>所属课程</td>
				<td>
					<select name="class_name">
                                           
                                            <volist name="brand" id="vo">
                                             
                                            <option value="{$vo.class_name}" <if condition="$vo.class_name eq $list.class_name">
                            selected
                          </if>  >{$vo.class_name}</option>
                                            </volist>
					</select>
				</td>
			</tr>
			<tr>
				<td>描述</td>
				<td>
					<textarea name="class_leve_content" id="description" class="textarea">{$list.class_leve_content}</textarea>
				</td>
			</tr>
			<tr>
				<td colspan="2">
                                        <input type="hidden" value="{$list.class_leve_id}" name="class_leve_id"/>
					<input type="submit" value="修改" class="input_button"/>
					<input type="reset" class="input_button"/>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>