<div id='box'>


<p id="returnmessage4"></p>

<form method="post"  enctype="multipart/form-data" onsubmit=" return checksubmit()" action="__ROOT__/index.php/home/public/register_pro">
<div align='center'>
<table >
<tr>
<th><span class="rq">*</span>用户名:</th>
<td><input type="text"  name="user_name" id='user_name'  size="25" onblur='checkname()'/></td>
<td class="tipcol"><span id="chk_houdunusername"></span></td>
</tr>

<tr>
<th><span class="rq">*</span>密码:</th>
<td><input type="password" name="user_pass" id='user_pass' size="25" onblur='checkpwd()' /></td>
<td class="tipcol"><span id="chk_houdunpassword" ></span></td>
</tr>

<input type='hidden' name='user_jifen' value='100'>
<tr>
<th><span class="rq">*</span>确认密码:</th>
<td><input type="password"  name="repwd" id='repwd' size="25" onblur='checkrepwd()'/></td>
<td class="tipcol"><span id="chk_houdunpassword2" class="p_chk"></span></td>
</tr>
<tr>
<th>&nbsp;</th>
<td>
<span id="reginfo_a_btn">
<em>&nbsp;</em>
<button class="pn pnc" id="registerformsubmit" type="submit" name="regsubmit" value="true" tabindex="1">
    <strong>提交</strong>
</button>
<span class="y">
<a href="member.php?mod=logging&amp;action=login&amp;referer=http%3A%2F%2Fbbs.houdunwang.com%2F" onclick="showWindow('login', this.href);return false;" class="xi2">已有帐号？现在登录</a>
</span>
新用户注册赠送100积分
</span>
</td>

</tr>
</table>
</div>
        </form>

    </div>

<script>
    
    function checkname(){
        if($("#user_name").val()==""){
            $("#chk_houdunusername").html("用户名不能为空！");
            return false;
        }
    }
    
    function checkpwd(){
        if($("#user_pass").val()==""){
            $("#chk_houdunpassword").html("密码不能为空！");
            return false;
        }
    }
    
    function checkrepwd(){
        if($("#repwd").val()==""){
            $("#chk_houdunpassword2").html("两次密码不一致！");
            return false;
        }
        
        if($("#repwd").val()!=$("#user_pass").val()){
            $("#chk_houdunpassword2").html("两次密码不一致！");
            return false;
        }
        }
        function checksubmit(){
            if($("#user_name").val()==""){
                    $("#chk_houdunusername").html("用户名不能为空！");
                    return false;
                }
                
             if($("#user_pass").val()==""){
              $("#chk_houdunpassword").html("密码不能为空！");
             return false;
              }
             if($("#repwd").val()==""){
                 $("#chk_houdunpassword2").html("两次密码不一致！");
                  return false;
             }
             
             if($("#repwd").val()!=$("#user_pass").val()){
                $("#chk_houdunpassword2").html("两次密码不一致！");
                return false;
            }
        
            
              
              
              
              
        }
        
    
</script>