<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title></title>
	<link rel="stylesheet" href="__PUBLIC__/css/public.css" />
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/public.js"></script>	
</head>
<body>
	<table class="table">
		<tr>
			<td class="th" colspan="10">就业信息列表</td>
		</tr>
		<tr>
			<th>学员</th>
			<th>毕业学校</th>
			<th>工作时间</th>
			<th>入职公司</th>
			<th>薪资</th>
			<th>操作</th>
		</tr>
		<volist name="list" id="vo">
		<tr align='center'>
			<td>{$vo.student_name}</td>
			<td>{$vo.student_school}</td>
			<td>{$vo.job_time}</td>
			<td>{$vo.job_company}</td>
			<td>{$vo.job_money}</td>
			<td>
				<a href="__URL__/stu_info?id={$vo.student_id}">[编辑]</a>
				<a href="__URL__/stu_delete?id={$vo.student_id}" class="del">[删除]</a>
			</td>
		</tr>
		</volist>
	</table>
		<div class="page">
			{$page}
		</div>
</body>
</html>