<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <title></title>
        <link rel="stylesheet" href="__PUBLIC__/css/public.css" />
        <script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/public.js"></script>	
         <script type="text/javascript" src="__PUBLIC__/admin/js/jq.js"></script>
</head>
<body>
        <table class="table">
                <tr>
                        <td class="th" colspan="10">导航列表</td>
                </tr>
                <tr>

                        <th>导航名称</th>
                        <th>URL</th>
                                                          <th>状态</th>
                        <th>操作</th>
                </tr>
                <volist name="data" id="list">
                <tr align='center'>
                        <td>{$list.nav_name}</td> 
                                                               <td>{$list.nav_url}</td>
                                                               <if condition="$list.is_show eq 1">
                                                               <td>开启</td>
                                                               <else/>
                                                               <td>关闭</td>
                                                               </if>
                        <td>
                                                                <if condition="$list.is_show eq 1">
                                                                    <a href="__URL__/show?id={$list.nav_id}&is_show={$list.is_show}" >[关闭]</a>
                                                                <else/>
                                                                     <a href="__URL__/show?id={$list.nav_id}&is_show={$list.is_show}" >[开启]</a>
                                                                </if>
                                <a href="__URL__/update_nav?id={$list.nav_id}">[编辑]</a>
                                <a href="__URL__/del?id={$list.nav_id}" class="del">[删除]</a>
                        </td>
                </tr>
                   </volist>
        </table>
                <div class="page">
                        {$page}
                </div>
</body>
</html>
<!--
<script>

  function is_show(is_show,id){
      //  alert("__URL__/is_show")
        $.ajax({
                url:'__URL__/show',
                data:{'is_show':is_show,'id':id},
                type:'post',
                success:function(e){
                        alert(e)
                        if (e==1){
                                  $("#img"+n_id).attr("src","<?php echo $public?>/images/error.gif");

                                }else{
                                        $("#img"+n_id).attr("src","<?php echo $public?>/images/succ.png");

                        }
                }
        })
    }
</script>
-->