<div id="box">
  <div class="position"><a name="pagetop"/>您现在的位置：<span class="STYLE5"><a href="__ROOT__/index.php">首页</a> &gt;&gt; 常见问题 &gt;&gt; 正文</span></div>
  <div id="left" class="fl" style="margin-top:8px;">
    <div class="infotop"><img src="__PUBLIC__/images/infotop.gif"/></div>
    <div class="left_content1">
      <div id="printarea">
        <h1 class="infotitle">{$question.question_title}</h1>
        <?php
            if($question['update_time']==""){
        ?>
        <div class="editer">更新时间:{$question.add_time} 来源:传智播客php学院</div>
        <?php
            }else{
        ?>
           <div class="editer">更新时间:{$question.update_time} 来源:传智播客php学院</div>
      <?php
        }
      ?>
        <div class="infor">
         &nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp; <p>{$question.question_content}</p><br />

  </div>
      </div>
      

      
	  <div class="clear"></div>
       
    </div>
    <div><img src="__PUBLIC__/images/leftbottom.gif"/></div>
  </div>
 
</div>
<div class="clear"></div>
